@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Oswald:wght@400;700&display=swap");

:root {
  --bg-color: #f3f5fa;
  --primary-color: #173d33;
  --accent-color: #97d28b;
  --burger-bg-color: #dcefd8;
  --backdrop-color: rgba(23, 61, 51, 0.25);
  --menu-bg-color: rgba(23, 61, 51, 0.75);
  --wight-color: #ffffff;
  --card-color: #eaedf1;
  --form-text-color: #bdbdbd;
  --form-invalid-color: #d28b8b;
  --transparent-color: transparent;

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --errorText-fontSize: 12px;
  --cardText-fontSize: 14px;
  --text-fontSize: 16px;
  --cardTitleMd-fontSize: 18px;
  --closeBtn-fontSize: 20px;
  --link-fontSize: 24px;
  --sectionTitle-fontSize: 28px;
  --cardTitleLg-fontSize: 32px;
  --headTitleSm-fontSize: 36px;
  --headTitleMd-fontSize: 48px;
  --headTitleLg-fontSize: 64px;
  --count-fontSize: 100px;
  --countLg-fontSize: 164px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira Sans", "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

body.modal-open {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.slick-slide > div {
  @media screen and (min-width: 768px) {
    margin: 0 12px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 24px;
  }
}
/* .slick-list {
  @media screen and (min-width: 768px) {
    margin: 0 -12px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 -24px;
  }
} */

.slick-prev:before,
.slick-next:before {
  display: none;
}
